<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util.xsd">

<bean id="db" class="com.bms.dbutil.DBUtil">
<property name="props">
	<props>
		<prop key="url">jdbc:MySQL://localhost:3306/SpringTests</prop>
		<prop key="username">devuser</prop>
		<prop key="password">Telsmahk@123</prop>
	</props>
</property>
</bean>
<bean id="obj" class="com.bms.beans.GreetingsImpl" autowire="byName">
	<property  value="Thummala Eshwar Reddy" name="name"/>
	<property name="id" value="44"/>
	<property name="salary" value="40000.00"></property>
</bean>
</beans>